---
import Button from './Button.astro'

interface Props {
  method: 'POST' | 'GET'
  action: string
  fieldLabel: string
  placeholder: string
  buttonLabel: string
  partyId?: string
}

const {method, action, fieldLabel, placeholder, buttonLabel, partyId} = Astro.props
---

<form method={method} action={action}>
  <div class="field-wrap">
    <label for="party-id">{fieldLabel}</label>
    <input
      type="text"
      name="party-name"
      placeholder={placeholder}
      id="party-id"
      required minlength="2"
      value={partyId || ''}
      readonly={partyId ? 'readonly' : null}
    />
  </div>  
  
  <div class="field-wrap">
    <slot></slot>
  </div>

  <div style={{display: 'none'}}>
    <label for="shazbot">Enter your email address</label>
    <input type="text" name="email-shazbot" id="email" autocomplete="off"/>
  </div>

  <div class="button-wrap">
    <Button
      className="submit-button"
      type="submit"
      id="party-submit"
      name="submit"
    >
      {buttonLabel}
    </Button
  </div>
</form>

<style>
  input[type="text"] {
    width: 100%;
  }
  .field-wrap {
    margin-bottom: 1rem;
  }
  .button-wrap {
    display: flex;
    position: relative;
  }
  .submit-button {
    margin-left: auto;
  }
</style>