---
import { getSongById } from '../controllers/songController'
interface Props {
  songId: number,
  addedBy: string,
  priority: number,
  position: number,
  userType: 'HOST' | 'ATTENDEE',
  queueItemId: number
}

const {songId, addedBy, priority, position, userType, queueItemId } = Astro.props
const song = await getSongById(songId)
---

<li class="queueItem">
  <span class="songPosition">{position}</span>
  <div class="songInfo">
    <span class="queueSongTitle">Title: <strong>{song?.title}</strong></span>
    <span class="queueSongArtist">Artist: <strong>{song?.artist}</strong></span>
    <span class="queueSongPeformer">Added By: <strong>{addedBy}</strong></span>
  </div>
  {userType === 'HOST' &&
    <button
      class="removeSongButton"
      hx-post="/partials/remove-song-from-queue"
      hx-swap="none"
      hx-confirm={`Are you sure you want to remove ${song?.title} from the queue?`}
      value={queueItemId}
      name="id" 
      title={`Remove ${song?.title} from the queue?`}
    >
      &times;
    </button>
  }
</li>

<style>
 .queueItem {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem;
  margin: 0 -1.5rem;
  color: var(--white);
  align-items: center;
  &:nth-child(even) {
    background-color: var(--grey04);
  }
  .songPosition {
    margin-right: 1.5rem;
    font-size:2rem;
    min-width: 2.25rem;
  }
  .songInfo {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
  }
  .removeSongButton {
    margin-left: auto;
    font-size: 2rem;
    border: 0;
    color: var(--white);
    background: transparent;
    transform: scale(100%);
    transition: color .1s ease-in-out, transform .1s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(120%);
    }
    &:active {
      color: var(--grey02);
    }
  }
    .
  
</style>