---
import { getQueueBySlug } from '../controllers/queueController'
import QueueItem from './QueueItem.astro'

interface Props {
  slug: string,
  userType: 'HOST' | 'ATTENDEE'
}

const { slug, userType } = Astro.props

const queue = await getQueueBySlug(slug)

const filteredQueue = queue.filter((song, index) => {
  return index === 0 || song.hidden ? false : true
})
---

<form
  class="sortable"
  hx-post="/partials/reorder-queue"
  hx-trigger="end"
  id="sortableForm"
>
<input type="hidden" name="slug" value={slug} />
<ol
  class="songQueue"
  id="songQueue"
  hx-get=`/partials/updated-queue?slug=${slug}&user-type=${userType}`
  hx-trigger="queueUpdated from:body"
  hx-target="#sortableForm"
  hx-swap="outerHTML"
  >
  { queue?.length ? 
    <QueueItem 
      songId={queue[0].song_id}
      addedBy={queue[0].added_by}
      position={0}
      userType={userType}
      queueItemId={queue[0].id}
      isPlaying={true}
      priority={queue[0].priority}
    />
    : null
  }

  {filteredQueue.map((item, index) =>
    <QueueItem 
      songId={item.song_id}
      addedBy={item.added_by}
      position={index + 1}
      userType={userType}
      queueItemId={item.id}
      isPlaying={false}
      priority={item.priority}
    />
  )}
</ol>
</form>

<style>
  .songQueue {
    list-style-type: none;
    padding: 0;
  }
</style>
