---

interface Props {
  title: string,
  artist: string,
  songId: string
}

const {title, artist, songId} = Astro.props;
---

<li
  class="songSearchResult"
>
  <label for={songId} class="songSearchResultLabel">
    <div>
      <span class="songArtist">{artist}</span>
      <span class="songTitle">{title}</span>
    </div>
    <input
      type="radio"
      name="song"
      value={songId}
      id={songId}
      class="songSearchResultInput"
      hx-post="/partials/add-song-to-queue"
      hx-target="#tabContainer"
    />
    <span class="searchPlusIcon" title={`Add ${title} to song queue.`}>&plus;</span>
  </label>
</li>
