---
import Button from "./Button.astro";
const { id, selected, controls, hxGet, hxTarget, hxSelect, hxSwap, href, hxPushUrl } = Astro.props;
---

<li class="tab-list-item">
  <Button
    role="tab"
    id={id}
    selected={selected}
    name={id}
    variant='tab'
    controls={controls}
    hxGet={hxGet}
    hxTarget={hxTarget}
    hxSelect={hxSelect}
    hxSwap={hxSwap}
    href={href}
    hxPushUrl={hxPushUrl}
  >
    <slot />
  </Button>
</li>

